$blue-color: #0880AE;
$yellow-color: #F2AC57;
$green-color: #14A38B;
$pink-color: #FF7171;
$primary-color: #2C2738;
$secondary-color: #756F86;
$muted-color: #7C9CBF;
$bright-color: #FFFFFF;
$shade-color: #DBE2EA;
$tint-color: #EBF4F8;
$light-blue-color: #6F96FF;
$bright-pink: #FF5689;


