@media (max-width: 768px) {
    .continer {
        width: 540px;
    }
    .hamburger { 
        display: block;
        position: absolute;
        top: 18px;
        right: 10px;
        width: 26px;
        height: 12px;
        cursor: pointer;
        span {
            display: flex;
            flex-direction: column;
            background-color: aliceblue;
            height: 2px;
            width: 100%;
            margin-bottom: 3px;
            transition: 0.5s all;
        }
        &__active {
            span {
                margin-bottom: -2px;
                &:first-child {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:last-child {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
}
