.fz-72 {
    font-size: 4.5rem;
    line-height: 1.2;
}
.fz-64 {
    font-size: 4rem;
    line-height: 1.18;
}
.fz-56 {
    font-size: 3.5rem;
    line-height: 1.2;
}
.fz-44 {
    font-size: 2.75rem;
    line-height: 1.27;
}
.fz-34 {
    font-size: 2.125rem;
    line-height: 1.3;
}
.fz-28 {
    font-size: 1.75rem;
    line-height: 1.28;
}
.fz-20 {
    font-size: 1.25rem;
    line-height: 1.4;
}
.fz-18 {
    font-size: 1.125rem;
    line-height: 1.38;
}
.fz-16 {
    font-size: 1rem;
    line-height: 1.3;   
}
.fz-14 {
    font-size: 0.875rem;
    line-height: 1.3;
}
.fz-12 {
    font-size: 0.75rem;
    line-height: 1.5;
}
.mt-80 {
    margin-top: 5rem;
}
.mt-60 {
    margin-top: 3.75rem;
}
.mt-40 {
    margin-top: 2.5rem;
}